.conetent-container {
  width:100%;
  min-height:600px;
}

.post-container {
  width:auto;
  min-height: 600px;
  margin: 1px;
  overflow:hidden;
}

.side-container {
  min-height: 600px;
  width:300px;
  margin-left: 1px;
  margin-right: 1px;
  float:right;
  padding-right: 4px;
  padding-left: 4px;

  .side-search{
    margin-top: 8px;
    margin-bottom: 14px;
    height: 30px;
    min-width: 100%;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(170, 170, 170);
  }
  .side-login {
    width: 100%;
    min-height: 75px;
    border: 1px solid rgb(170, 170, 170);
    margin: 1px;
    padding: 5px;
    overflow: auto;

    .side-userName{
      float: left;
      width: 137px;
      margin-right: 3px;
    }
    .side-password {
      margin-left: 3px;
      float: left;
      width: 137px;
    }
    .side-input-field{
      width: 100%;
      font-size: 10px;
      height: 30px;
      padding: 5px;
    }


    .side-btn-container{
      clear: both;
      text-align: right;
      display: inline-block;
      margin-top: 5px !important;
      height: 40px;
      width: 100%;
      padding-bottom: 20px;
      .side-btn{
        margin-top: 10px;
        height: 20px;
        width: 45px;
        font-size: 12px;
        padding: 2px;
      }
    }
  }
  a {
    text-decoration: none;
  }
  .advertising-one {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 170px;
    background-image: url('/images/crush_routes_main.png');
    background-size: 300px 170px;
    background-repeat: no-repeat;
    padding-top: 60px;
    h4 {
      background: rgb(51, 102, 153);
      color: white;
      text-align: center;
      padding: 5px;
    }
  }

  .side-submit-link{
    display: block;
    width: 100%;
    height: 35px;
    color: rgb(51, 102, 153);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 243, 252));
    border: 1px solid rgb(170, 170, 170);
    text-align: center;
    padding-top: 4px;
  }
  .side-submit-link:hover {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(rgb(255, 255, 255), rgb(51, 102, 153));
    border: 1px solid rgb(170, 170, 170);
  }

  .advertising-two {
    margin-top: 10px;
    height: 170px;
    background-image: url('/images/weather.png');
    background-size: 300px 170px;
    background-repeat: no-repeat;
    padding-top: 60px;
    h4 {
      background: rgb(51, 102, 153);
      color: white;
      text-align: center;
      padding: 5px;
    }
  }


}
