.modal-background {
  position: absolute;
   z-index: 9999;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;

  min-height: 100vh !important;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 0s;

  .modall {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.4);

    height: 420px;
    width: 800px;

    background: rgb(248, 251, 253);
    border-radius: 3px;
    -webkit-animation-duration: .3s;
    -webkit-animation-delay: .2s;

    .exit-modal{
      font-size: 20px;
      position: absolute;
      right: 15px;
      top: 10px;
      color: rgb(170, 170, 170);
      text-decoration: none;
      cursor: pointer;
    }
    .exit-modal:hover{
      color: rgb(130, 130, 130);
    }
    .split-left {
      float: left;
      padding-top: 60px;
      width: 50%;
      height: 420px;
      padding-left: 60px;
      padding-right: 60px;
      border-right: 1px solid rgb(130, 130, 130) !important;

      h5{
        padding-bottom: 30px;
        text-align: left;
        color: rgb(66, 112, 162);
      }
    }
    .split-right {

      float: right;
      padding-top: 60px;
      width: 50%;
      padding-left: 60px;
      padding-right: 60px;
      h5{
        padding-bottom: 30px;
        text-align: left;
        color: rgb(66, 112, 162);
      }
    }
  }
}

@media (max-width: 810px) {

  .modal-background {
    .modall {
      height: auto !important;
      width: 94% !important;
      .split-left {
        height: auto;
        float: none !important;
        width: 100% !important;
        border: none !important;
      }
      .split-right {
        float: none !important;
        width: 100% !important;

        form{
          border-top: 1px solid rgb(130, 130, 130) !important;
        }

        h5{
          margin-top: 55px;
        }
      }
    }
  }
}
