.main-container {
  width:auto;
  min-height: 600px;
  margin: 4px;
  margin-top: 8px;
  overflow:hidden;
  padding: 5px;
}

.IframeWrapper {
  position: relative;
}

.iframewebpage {
  z-index:1
}

.iframeBlocker{
  position:absolute;
  top: 0; left: 0; width:95%;
  height:95%;
  background-color:aliceblue;
  opacity:0.1;
}
