.video-h {
  margin: 10px;

}

.video-field-set {
  background-color: rgb(206, 227, 248);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  border-radius: 5px;
}

.input-field-set {

}

.video-example{
  height: 120px;
  // width: 100%;
  background-image: url('/images/example_video.png');
  background-size: 700px 150px;

  margin: 3px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
}
p {
  margin: 10px;
  padding-bottom: 20px;
}

.video-btn-container {
  text-align: left;
  margin: 10px;
  .video-btn{
    margin-right: 10px;

  }

}
