.video-field-set {
  background-color: rgb(206, 227, 248);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  border-radius: 5px;
}

.comment-submit-container{
  text-align: right;
}
