.signup-btn-container {
  width: 100%;
  text-align: right;
  height: 0px;

  .signup-btn {
    margin-top: 10px;
  }
}

.signin-btn-container {
  width: 100%;
  text-align: right;
  height: 70px;

  .signin-btn {

    margin-top: 10px;
  }
}

.error{
  color: red;
}
